services:
  presta_pro_api:
    build:
      context: ./server
    container_name: presta_pro_api
    ports:
      - "4000:4000"  # Exponer API al host
    environment:
      - DATABASE_URL=postgresql://prestapro:prestapro@prestapro_db:5432/prestapro?schema=public
      - JWT_SECRET=${JWT_SECRET:-pon_un_secreto_largo_aqui}
      - SMTP_HOST=${SMTP_HOST:-}
      - SMTP_PORT=${SMTP_PORT:-25}
      - SMTP_USER=${SMTP_USER:-}
      - SMTP_PASS=${SMTP_PASS:-}
      - SMTP_FROM=${SMTP_FROM:-noreply@renace.tech}
      - ADMIN_NOTIFY_EMAIL=${ADMIN_NOTIFY_EMAIL:-adderlymarte@hotmail.com}
      - APP_BASE_URL=https://prestanace.renace.tech
      - GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID:-}
    restart: unless-stopped

  prestapro_db:
    image: postgres:15-alpine
    container_name: prestapro_db
    environment:
      - POSTGRES_DB=prestapro
      - POSTGRES_USER=prestapro
      - POSTGRES_PASSWORD=prestapro
    volumes:
      - prestapro_db_data:/var/lib/postgresql/data
    restart: unless-stopped

  presta_pro_web:
    build:
      context: .
      args:
        - VITE_GEMINI_API_KEY=${VITE_GEMINI_API_KEY}
        - VITE_GOOGLE_CLIENT_ID=${VITE_GOOGLE_CLIENT_ID}
    container_name: presta_pro_web
    depends_on:
      - presta_pro_api
    ports:
      - "18080:80"  # HOST:CONTAINER
    restart: unless-stopped

volumes:
  prestapro_db_data:
